.button-resize-custom {
    width: 100px !important;
}

.tuto-button {
    padding-bottom: 15px;
    text-align: center;
}

.main-container-tuto {
    padding-top: 1em !important;
       
}

.image-little-tuto {
    width: 100%;
    height: 80%;
}